
header {
    background-color: rgb(0, 0, 0);
    width: 1500px;
    height: 172px;
}


#logo h1{
    width: 100px;
    color: white;
}

#logo {
    width: 10%;
    float: left;
}

#search {
    width: 90%;
    float: right;
    margin-top: 50px;
}

body {
    background-color: rgb(166, 190, 167);

}

ul {
    list-style: none;
    display: flex;
    margin-left: 185px;
}

ul a {
    text-decoration: none;
    color: white;
}

li {
    margin-right: 5px;
}

.search-text {
    margin-left: 68px;
    border-radius: 20px;
    width: 1000px;
    height: 32px;
}

#principal {
    background-color: black ;
    width: 455px;
}

#principal p {
    color: white;
}

/*
#video {
    background-color: black;
    width: 455px;
    float: right;
    margin-right: 255px;
  

}

#video h3 {
    color: white;
}

*/


#inspiracao img {
    margin-left: 560px;
}

#entrar {
    background-color: black;
    width: 555px;
    margin-left: 411px;
    height: 175px;
}


#entrar p {
    color: white;
}


#entrar a {
    color: white
}

#registrarse {
    background-color: black;
    width: 555px;
    margin-left: 411px;
}

#registrarse p {
    color: white;
}

#registrarse a {
    color: white;
}

#ongs {
    background-color: black;
    width: 455px;
}

#ongs a {
    color: white;
}

#ongs p {
    color: white;
}

#ongs h1 {
    color: white;
}

#entrar {
    margin-left: 45px;
}
